{% extends "main.html" %}
{% load static %}

{% block main_content %}
    <div class="row mx-1 mt-2">
        <div class="col-12 offset-sm-1 offset-lg-2 offset-xl-3 col-sm-10 col-lg-8 col-xl-6 px-0">
            <div class="row px-0 bg-light rounded py-3 px-0">
                <div class="col-12">
                    <h4 class="p-2 header-title text-primary">
                        Auctions
                    </h4>
                    <hr class="mx-2">
                    {% if object_list %}
                        {% for auction in object_list %}
                            <div class="row mx-1">
                                <div class="col-4 mt-1">
                                    <img class="img-fluid" src="{% if auction.image %}{{ auction.image.url }}{% else %}{% static 'img/lataus.png' %}{% endif %}">
                                </div>
                                <div class="col-8">
                                    <a class="h5 text-bold" href="{% url 'auction-details' auction.pk %}">
                                        <strong>{{ auction.name }}</strong>
                                    </a>
                                    <p class="my-0">Description: <strong>{{ auction.description }}</strong></p>
                                    <p class="my-0">Current price: <strong>{{ auction.price|floatformat:2 }} €</strong></p>
                                    <p>Created by: <strong>{{ auction.creator }}</strong></p>
                                </div>
                            </div>
                            <hr class="mx-2">
                        {% endfor %}
                    {% else %}
                        <p class="mx-2">No active auctions found</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
