{% extends "base.html" %}

{% block content %}
    <div class="row my-2">
        <div class="col-12 offset-sm-2 offset-lg-4">
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-4">
                    <h1 class="text-white py-2 font-weight-light header-title">Create user</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-4">
                    <form class="bg-dark p-3 rounded" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="text-white">Email</label>
                            <input class="form-control" name="email" type="text" placeholder="Enter your email..." />
                        </div>
                        <div class="form-group">
                            <label class="text-white">Username</label>
                            <input class="form-control" name="username" type="text" placeholder="Enter your username..." />
                        </div>
                        <div class="form-group">
                            <label class="text-white">Password</label>
                            <input class="form-control" name="password" type="password" placeholder="Enter your password..." />
                        </div>
                        <div class="form-group text-right mb-0">
                            <button class="col-5 btn btn-success" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <div class="col-12 col-sm-8 col-lg-4">
                            <p class="bg-{{ message.tags }} p-3 rounded text-white">{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if message %}
                <div class="row">
                    <div class="col-12 col-sm-8 col-lg-4">
                        <p class="bg-{{ message.type }} p-3 rounded text-white">{{ message.text }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
